/* ----------------------------
    Global 
------------------------------- */
html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




/* ----------------------------
    Status Bars
------------------------------- */

.fightPageContainer {
    display: flex;
    flex-direction: column;
}

.statusHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}