/* ---------------------------------
    Global
 ----------------------------------- */
 @font-face {
    font-family: "Game Sans Serif";
    src: url('./fonts/game_sans_serif_7.ttf');
}

html {
    font-family: "Game Sans Serif";
    background-color: rgb(255, 36, 36);
}

h1 {
    text-align: center;
}

/* ---------------------------------
    Character Select Screen
 ----------------------------------- */

.screenContainer {
    display: flex;
    flex-direction: column;
    background: rgba(87, 87, 87, 0.651);
    border-radius: 20px;
}

.directionsHeader {
    border: 1px solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.767);
    box-shadow: 10px 5px 10px;
}

.characterScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.selectButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fighterSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 35%;
}

.fighterProfile {
    text-align: left;
}

.fighterProfile img {
    height: 250px;
    width: 250px;
}

.characterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    gap: 20px;
}

@media screen and (min-width: 650px) {
    body {
        display: flex;
        justify-content: center;
    }
    .screenContainer {
        width: 50%;
    }
}